<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key ="crosswise" value ="C:\Users\T440P\Desktop\横向项目.xls"/>
    <add key="lengthways" value="C:\Users\T440P\Desktop\纵向项目.xls"/>
    <add key="paper" value="C:\Users\T440P\Desktop\论文.xls"/>
    <add key="targetTemplate" value="C:\Users\T440P\Desktop\学位授权点评估2-2-1培养方向带头人基本情况统计表.xlsx"/>
    <add key="result" value="C:\Users\T440P\Desktop\result.xlsx"/>
  </appSettings>
</configuration>